<section class="bg-white dark:bg-gray-900">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Sohel Shabbir Mujawar</h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Full Stack Web Developer </p>
          <button (click)="readMore('/contact')" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900 transition ease-in-out duration-300">
              Contact
          </button>
          <button (click)="readMore('/resume')" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 transition ease-in-out duration-300">
              Resume
          </button> 
      </div>
      <div class="lg:mt-0 lg:col-span-4 lg:flex justify-center">
          <div class="relative group">
              <div class="relative rounded-full p-1 transition transform group-hover:scale-105 duration-300 ease-in-out">
                  <!-- Container with Custom Clip Path -->
                  <div class="relative w-80 h-80 p-2 rounded-full overflow-hidden"
                       style="clip-path: path('M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z');">
                      <!-- Image -->
                      <img class="rounded-full object-cover w-full h-full transition-transform duration-300 ease-in-out group-hover:scale-110" 
                           src="assets/img/profile.png" alt="mockup">
                  </div>
              </div>
          </div>
      </div>                
  </div>
</section>


<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <img src="assets/img/angularjs.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class=" object-scale-down h-48 w-96  animate-ping" viewBox="0 0 24 24 alt=">
        
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Shooting Stars</h2>
        <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
        <a href="/info" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 animate-ping  ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">The Catalyzer</h2>
        <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
        <a href="/info" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 animate-ping ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="sm:w-32 sm:order-none order-first sm:h-32 animate-bounce  h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
          <circle cx="6" cy="6" r="3"></circle>
          <circle cx="6" cy="18" r="3"></circle>
          <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
        </svg>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 animate-spin h-10" viewBox="0 0 24 24">
          <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">The 400 Blows</h2>
        <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
        <a href="/info" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 animate-ping h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
    <button class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
      
      Button
    </button>
   
  </div>
</section>
 
<!-- Combined Frontend, Backend, and Database Section -->
<section class="bg-white dark:bg-gray-900 py-12">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Card Container -->
    <div class="bg-gray-100 dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
      <!-- Header Section -->
      <div class="py-8 px-6 bg-primary-500 text-center dark:bg-primary-900">
        <h2 class="text-4xl font-extrabold text-gray-900 dark:text-white">Showcasing Innovation with the Best in Web Technologies</h2>
        <p class="text-gray-700 dark:text-gray-400 mt-4">Explore my portfolio, built using a powerful tech stack that delivers cutting-edge front-end design, efficient back-end solutions, and robust databases. From crafting responsive interfaces to deploying scalable systems, these technologies drive the success of my projects.</p>
      </div>
      <!-- Card Content -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-6 lg:p-12">
        <!-- Frontend Card -->
        <div class="rounded-lg p-6 bg-white dark:bg-gray-700 shadow hover:shadow-lg transition-shadow duration-300">
          <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Frontend Framework</h3>
          <p class="text-gray-600 dark:text-gray-400 mb-6">Technology, innovation, and seamless collaboration for impactful front-end solutions.</p>
          <div class="space-y-4">
            <!-- HTML -->
            <div class="flex items-center">
              <img src="assets/img/html.png" class="w-10 h-10 mr-4" alt="HTML">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">HTML</h4>
            </div>
            <!-- CSS -->
            <div class="flex items-center">
              <img src="assets/img/css-3.png" class="w-10 h-10 mr-4" alt="CSS">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">CSS</h4>
            </div>
            <!-- JavaScript -->
            <div class="flex items-center">
              <img src="assets/img/js.png" class="w-10 h-10 mr-4" alt="JavaScript">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">JavaScript</h4>
            </div>
            <!-- React -->
            <div class="flex items-center">
              <img src="assets/img/library.png" class="w-10 h-10 mr-4" alt="React">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">React</h4>
            </div>
            <!-- Angular -->
            <div class="flex items-center">
              <img src="assets/img/angularjs.png" class="w-10 h-10 mr-4" alt="Angular">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">Angular</h4>
            </div>
          </div>
        </div>
        <!-- Backend Card -->
        <div class="rounded-lg p-6 bg-white dark:bg-gray-700 shadow hover:shadow-lg transition-shadow duration-300">
          <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Backend Framework</h3>
          <p class="text-gray-600 dark:text-gray-400 mb-6">Our backend solutions ensure efficient workflows and reliable performance.</p>
          <div class="space-y-4">
            <!-- Express -->
            <div class="flex items-center">
              <img src="assets/img/express.png" class="w-10 h-10 mr-4" alt="Express">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">Express</h4>
            </div>
            <!-- Node.js -->
            <div class="flex items-center">
              <img src="assets/img/nodejs.png" class="w-10 h-10 mr-4" alt="Node.js">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">Node.js</h4>
            </div>
          </div>
        </div>
        <!-- Database Card -->
        <div class="rounded-lg p-6 bg-white dark:bg-gray-700 shadow hover:shadow-lg transition-shadow duration-300">
          <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Database</h3>
          <p class="text-gray-600 dark:text-gray-400 mb-6">Secure, scalable, and efficient database solutions for critical operations.</p>
          <div class="space-y-4">
            <!-- MongoDB -->
            <div class="flex items-center">
              <img src="assets/img/mongodb.png" class="w-10 h-10 mr-4" alt="MongoDB">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">MongoDB</h4>
            </div>
            <!-- Firebase -->
            <div class="flex items-center">
              <img src="assets/img/firebase.png" class="w-10 h-10 mr-4" alt="Firebase">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">Firebase</h4>
            </div>
            <!-- MySQL -->
            <div class="flex items-center">
              <img src="assets/img/mysql.png" class="w-10 h-10 mr-4" alt="MySQL">
              <h4 class="text-lg font-bold text-gray-900 dark:text-white">MySQL</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <main class="grid w-full min-h-screen text-gray-100 bg-gray-900 place-content-center">
  
    <!-- Main Heading -->
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
      <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">My Developer Journey</span>
    </h1>
  
    <!-- Sub Heading -->
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
      Technologies I've Mastered and My Development Experience
    </p>
  
    <!-- Skills and Experience Section -->
    <section class="p-6 space-y-6 bg-gray-800 rounded-xl md:grid md:grid-cols-2 md:gap-4 sm:space-y-0">
  
      <!-- Technologies Used Section -->
      <div>
        <h2 class="text-2xl font-semibold text-gray-100">Technologies Used</h2>
        <div class="grid grid-cols-2 gap-6 mt-4">
          <button
            *ngFor="let skill of skills"
            (click)="selectSkill(skill)"
            class="px-4 py-2 text-xl text-gray-100 transition bg-blue-600 rounded-md h-14 w-44 hover:bg-blue-700"
            [ngClass]="{ 'font-bold ring-2 ring-gray-100': currentSkill.title === skill.title }"
          >
            {{ skill.title }}
          </button>
        </div>
      </div>
  
      <!-- Experience Section -->
      <div class="flex items-center justify-center">
        <div class="relative">
          <h2 class="text-2xl font-semibold text-gray-100 text-center mb-4">My Experience</h2>
          <svg class="transform -rotate-90 w-72 h-72">
            <circle
              cx="145"
              cy="145"
              r="120"
              stroke="currentColor"
              stroke-width="30"
              fill="transparent"
              class="text-gray-700"
            ></circle>
    
            <circle
              cx="145"
              cy="145"
              r="120"
              stroke="currentColor"
              stroke-width="30"
              fill="transparent"
              [attr.stroke-dasharray]="circumference"
              [attr.stroke-dashoffset]="circumference - (currentSkill.percent / 100) * circumference"
              class="text-blue-500"
            ></circle>
          </svg>
          <span class="absolute text-5xl top-28 left-28">{{ currentSkill.percent }}%</span>
        </div>
      </div>
  
    </section>
  </main>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
      <div class="grid md:grid-cols-2 gap-8">
          <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
            <button (click)="readMore('/projects')" class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
              <svg  class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
              </svg>
             Project 1
            </button>
              <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Simple Calculator with Dark and Light Mode </h2>
              <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">This project is a basic calculator application that can perform simple arithmetic operations like addition, subtraction, multiplication, and division. It includes a theme toggle option to switch between dark mode and light mode for a better user experience.</p>
              <button (click)="readMore('/projects')" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                  <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
              </button>
          </div>

          <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
              <button (click)="readMore('/projects')" class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
                  <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                  </svg>
                 Project 2
              </button>
              <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Hangman Game</h2>
              <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">This project is a classic word-guessing game called Hangman. The player tries to guess the hidden word by suggesting letters within a certain number of guesses. Each incorrect guess brings the player closer to losing by displaying parts of a hangman figure. The game is won when the player correctly guesses all the letters of the word before the hangman figure is fully drawn.</p>
              <button (click)="readMore('/projects')" href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                  <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </button>
          </div>

          <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
            <button (click)="readMore('/projects')" class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
              <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
              </svg>
             Project 3
            </button>
            <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Task Management System</h2>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">A task management system allows users to create, update, delete, and view tasks. It is a full-stack application using React for the frontend, Node.js for the backend, MySQL as the database for storing tasks, and Firebase for hosting the frontend. The backend is deployed on Render.</p>
            <button   (click)="readMore('/projects')"  class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
            </button>
        </div>

      </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <figure class="max-w-screen-md mx-auto">
          <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
          </svg> 
          <blockquote>
              <p class="text-2xl font-medium text-gray-900 dark:text-white">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
          </blockquote>
          <figcaption class="flex items-center justify-center mt-6 space-x-3">
              <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                  <div class="pr-3 font-medium text-gray-900 dark:text-white">Micheal Gough</div>
                  <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">CEO at Google</div>
              </div>
          </figcaption>
      </figure>
  </div>
</section>